{% extends "base.html" %}
{% block content %}
    <h1 class="title">{{ section.title }}</h1>
    <ul class="entry-list">
        <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
        {% for page in section.pages %}
            <li>
                <a href="{{ page.permalink | safe }}"
                   rel="bookmark"
                   title="{{ page.title }}">{{ page.title }}</a>
                <time datetime="{{ page.date }}"
                      title="{{ page.date | date(format='%Y년 %m월 %d일') }}">
                    {{ page.date | date(format="%Y-%m-%d") }}
                </time>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
