{% extends "base.html" %}
{% block content %}
    <h1 class="title">{{ trans(key="title", lang=lang) }}</h1>
    <ul class="entry-list center">
        {% if lang == "de" %}
            <li>
                <a href="{{ get_url(path='@/diary/_index.md') }}">Tagebuch</a>
            </li>
            <li>
                <a href="/categories">Kategorien</a>
            </li>
        {% else %}
            <li>
                <a href="{{ get_url(path='@/diary/_index.md') }}">일기</a>
            </li>
            <li>
                <a href="/categories">카테고리</a>
            </li>
        {% endif %}
    </ul>
{% endblock content %}
